/*--------------------- GENERAL ----------------------*/
html {
	width: 100%;
    height: 100%;
    line-height: 1.15;
}

body {
	color: #E7E7E7;
	font-family: 'Roboto';
    background-color: #181818;
	width: 100%;
    height: 100%;
    margin: 0;
}


main {
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

p, h1, h2 {
    margin: 0;
}

input,
label,
button,
select {
    background: none;
    border: none;
}

/* ----------------- HEADER ----------------- */
/*id=# et class=.*/

header {
    background: #202020;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    padding: 1% 1.5%;
    z-index: 1;
}

form {
    background: linear-gradient(to top, #ff1ba8d5, 50%, #2da6ef);
    width: 80%;
    height: 60%;
    border-radius: calc(100px * 0.6);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
}

form * {
    height: 100%;
}

form label {
    display: flex;
    align-items: center;
    padding:  0 0 0 1.5%;
}

form select {
    background: none;
    color: #e7e7e7;
    font-family: 'Roboto';
    font-size: 1em;
    border: none;
}

form option {
    background: #202020;
    border: none;
}

form .search-bar{
    background: #181818;
    flex-grow: 1;
    padding: 0 1.5%;
}

form .search-bar:placeholder-shown {
    color: #e7e7e7;
    font-size: 1em;
    padding: 0 1.5%;
}

form button {
    color: #e7e7e7;
    font-family: 'Roboto';
    font-size: 1em;
    padding:  0 1.5%;
}

.logo {
    height: 90%;
}

/* #filters form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
    background: red;
    opacity: 1;
    cursor: pointer;
}

#filters form.displayed {
    opacity: 0;
	pointer-events: none;
} */

/* -------------- SECTION COCKTAILLIST -------------- */

#cocktailList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 5% 15% 0 5%;
    margin: 100px 0 50px 0;
}

#cocktailList::after {
    content: "";
    display: block;
    width: 300px;
    height: calc(100vh - 100px);
    background: url(./img/barman-look.png) no-repeat top left;
    background-size: 110%;
    position: fixed;
    right: 0;
    bottom: 0;
}

.cocktail {
    width: 275px;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: relative;
    margin: 0 2.5% 2.5% 0;
}

.cocktail .picture {
    height: 100%;
    width: 100%;
}

.cocktail-resume {
    background:#2da6ef;
    width: 100%;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 10px;
}

.cocktail-resume.cocktail-title {
    font-size: 1em;
}

.cocktail-resume p{
    font-size: 0.8em;
    margin: 5px 0 0 0;
}

/* ---------------- SECTION COCKTAIL ---------------- */

#cocktail{
    background-color: #181818;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    padding: 100px 15% 50px 5%;
    transform: translateY(-100vh);
    animation: 1s ease-in;
}

#cocktail.clicked {
    transform: translateY(0);
}

#cocktail::after{
    content: "";
    display: block;
    width: 300px;
    height: calc(100vh - 100px);
    background: url(./img/barman-glass.png) no-repeat top left;
    background-size: 110%;
    position: fixed;
    right: 0;
    bottom: 0;
}

.cocktail-details {
    display: flex;
}

.cocktail-details .picture {
    width: 25vw;
    height: 25vw;
    margin: 0 2.5% 0 0;
}

.cocktail-info{
    background-color: #2da6ef;
    color: #e7e7e7;
    width: 35vw;
    box-sizing: border-box;
    padding: 20px;
}

#cocktail h2{
    color: #e7e7e7;
    font-size: 3em;
}

.backButton{
    cursor: pointer;
    color: #e7e7e7;
    font-size: 1em;
    display: flex;
    align-items: center;
    position: absolute;
    top: 15vh;
    left: 0;
    padding: 15px;
}

.left-arrow {
    fill: #e7e7e7;
    width: 15px;
    margin: 0 5px 0 0;
}

/* -------------- SECTION COCKTAILLIST -------------- */
footer {
    height: 7.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

footer span {
    font-size: 0.8em;
    opacity: 0.5;
}

