/*--------------------- GENERAL ----------------------*/
html {
	width: 100%;
    height: 100%;
    color: #e7e7e7;
	font-family: 'Roboto';
    line-height: 1.15;
}

body {
    background-color: #181818;
	width: 100%;
    height: 100%;
    margin: 0;
}

main {
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

p, h1, h2, h3 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

input,
label,
button,
select {
    background: none;
    border: none;
}

/* ----------------- HEADER ----------------- */
header {
    background: #202020;
    width: 100%;
    height: 14vh;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    padding: 1%;
    z-index: 1;
}

.form-displayer {
    display: none;
}

.logo {
    fill: #e7e7e7;
    width: 200px;
    height: auto;
    margin: 0 0 0 1.5%;
}

form {
    background: linear-gradient(to top, #ff1ba8d5, 50%, #2da6ef);
    height: 60%;
    border-radius: calc(14vh * 0.6);
    display: flex;
    flex-grow: 1;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 2.5% 0 4%;
}

form * {
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

form label {
    display: flex;
    align-items: center;
    padding:  0 0 0 1.5%;
}

form select {
    cursor: pointer;
    color: #e7e7e7;
    font-family: 'Roboto';
    font-size: 1em;
    border: none;
    padding: 0 30px 0 5px;
    /* Personnalisation de la flèche */
    appearance: none;
    background: url(./img/down_arrow.png) no-repeat center right 10px;
    background-size: 15px;
}

form option {
    background: #202020;
}

form .search-bar{
    color: #e7e7e7;
    font-family: 'Roboto';
    font-size: 1em;
    background: #181818;
    border-top: 2px solid #323232;
    border-bottom: 2px solid #323232;
    flex-grow: 1;
    padding: 1%;
}

form .search-bar:placeholder-shown {
    color: #e7e7e7ab;
    font-size: 1em;
}

form button {
    cursor: pointer;
    color: #e7e7e7;
    font-family: 'Roboto';
    font-size: 1em;
    position: relative;
    padding:  0 50px 0 1%;
}

form button::before {
    content: "";
    width: 40px;
    height: 100%;
    background: url(./img/glass.png) no-repeat center center;
    background-size: 50%;
    position: absolute;
    top: 0;
    right: 5px;
}

/* -------------- SECTION COCKTAILLIST -------------- */

#cocktailList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 5% 350px 5% 5%;
    margin: 14vh 0 7.5vh 0;
}

.barman {
    width: 350px;
    height: calc(100vh - 14vh);
    position: fixed;
    right: 0;
    bottom: 0;
}

#advising-barman {
    display: none;
}

#petite-bulle {
    opacity: 0;
}

#moy-bulle {
    opacity: 0;
}

#grosse-bulle {
    opacity: 0;
}

.barman:hover #petite-bulle,
.barman:hover #moy-bulle,
.barman:hover #grosse-bulle {
    opacity: 1;
}


#grosse-bulle {
    cursor: pointer;
}

.barman:hover #looking-barman {
    display: none;
}

.barman:hover #advising-barman {
    display: block;
}

/* #cocktailList::after {
    content: "";
    display: block;
    width: 300px;
    height: calc(100vh - 14vh);
    background: url(./img/barman-look.png) no-repeat top -5% right;
    background-size: 90%;
    position: fixed;
    right: 0;
    bottom: 0;
} */

.cocktail {
    cursor: pointer;
    width: 275px;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    overflow: hidden;
    position: relative;
    margin: 0 2.5% 2.5% 0;
}

.cocktail .picture {
    width: 100%;
    height: 100%;
    position: relative;
}

.cocktail-resume {
    background:#2da6ef;
    width: 100%;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 12.5px;
    transform: translateY(105%);
    transition: 0.25s ease-out;
}

.cocktail:hover .cocktail-resume {
    transform: translateY(0);
}

.cocktail-title {
    font-size: 1.5em;
}

.cocktail-resume p{
    font-size: 0.8em;
    margin: 5px 0 0 0;
}

/* ---------------- SECTION COCKTAIL ---------------- */

#cocktail {
    background-color: #181818;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    padding: 14vh 350px 7.5vh 5%;
    transform: translateY(-100vh);
    transition: 0.5s ease-out;
}

#drinking-barman{
    transform: scale(0.9);
}

#cocktail.displayed {
    transform: translateY(0);
}

/* #cocktail::after{
    content: "";
    display: block;
    width: 300px;
    height: calc(100vh - 14vh);
    background: url(./img/barman-glass.png) no-repeat top -5% right;
    background-size: 90%;
    position: fixed;
    right: 0;
    bottom: 0;
} */

.cocktail-details {
    display: flex;
}

.cocktail-details .picture {
    width: 25vw;
    height: 25vw;
    margin: 0 2.5% 0 0;
}

.cocktail-info{
    background-color: #2da6ef;
    width: 35vw;
    box-sizing: border-box;
    padding: 20px;
}

.cocktail-info h2 {
    font-size: 3em;
}

.cocktail-info h3 {
    color: #181818;
    font-weight: 500;
}

.cocktail-info ol {
    font-weight: 500;
    padding: 0 0 0 20px;
    margin: 20px 0 0 0;

}

.cocktail-info li {
    margin: 5px 0 0 0;
}

.back-button{
    cursor: pointer;
    background: url(./img/left_arrow.png) no-repeat center left 5px;
    background-size: 7.5px;
    color: #e7e7e7;
    font-size: 1em;
    display: flex;
    align-items: center;
    position: absolute;
    top: calc(14vh + 2%);
    left: 2.5%;
    padding: 15px 15px 15px 20px;
}

/* -------------------- FOOTER -------------------- */
footer {
    height: 7.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

footer span {
    font-size: 0.8em;
    text-align: center;
    opacity: 0.5;
}



/*------------------- RESPONSIVE --------------------*/
@media (max-width: 768px){
    /*------------------- GÉNÉRAL ------------------*/
    body {
        height: calc(100vh - 14vh);
        overflow-y: scroll;
        padding: 14vh 0 0 0;
    }

    .barman {
        display: none;
    }

    /*------------------- HEADER ------------------*/
    header {
        justify-content: space-between;
    }

    .logo {
        width: 125px;
        margin: 0 0 0 15px;
    }

    .form-displayer {
        cursor: pointer;
        height: 30px;
        display: flex;
        margin: auto 15px;
    }

    form {
        background: #181818;
        border-radius: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        box-sizing: border-box;
        flex-grow: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        top: 14vh;
        left: 0;
        padding: 0 25px;
        margin: 0;
        transition: 0.5s ease-out;
    }

    .form-displayer.clicked ~ form {
        height: 86vh;
        padding: 50px 25px;
    }

    form * {
        height: auto;
    }

    form label {
        margin: 0 0 5% 0;
    }

    form select {
        background: url(./img/down_arrow.png) no-repeat center right 10px, #202020;
        background-size: 7.5%;
    }

    form select,
    form .search-bar {
        width: 100%;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 15px;
        margin: 0 0 15% 0;
    }

    form .search-bar {
        background: #202020;
        flex-grow: 0;
        border: 2px solid #323232;
    }

    form button {
        background: linear-gradient(to top, #ff1ba8d5, 50%, #2da6ef);
        border-radius: 5vh;
        height: 10vh;
        display: flex;
        justify-content: center;
        width: 80%;
        padding: 0;
        margin: auto 25px 0 25px;
    }

    form button::before {
        display: none;
    }


    /*------------ SECTION COCKTAILLIST -----------*/
    #cocktailList {
        flex-direction: column;
        align-items: center;
        padding: 15px 15px 0 15px;
        margin: 0;
    }

    .cocktail {
        width: 100%;
        height: auto;
        flex-direction: row;
        margin: 0 0 15px 0;
    }

    .cocktail .picture {
        width: 75px;
        height: 75px;
    }

    .cocktail-resume {
        height: 75px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: static;
        transform: translateY(0);
        padding: 0 10px;
    }

    .cocktail-title {
        font-size: 1.25em;
    }

    /* -------------- SECTION COCKTAIL -------------- */
    #cocktail {
        background: #2da6ef;
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: scroll;
        padding: 14vh 0 0 0;
    }

    .cocktail-details {
        flex-direction: column;
    }

    .cocktail-details .picture {
        width: 100%;
        height: auto;
        margin: 0;
    }

    .cocktail-details .cocktail-info {
        width: 100%;
    }

    .cocktail-info h2 {
        font-size: 1.5em;
        text-align: center;
    }

    .cocktail-info h3 {
        text-align: center;
    }

    .back-button {
        background: url(./img/left_arrow.png) no-repeat center left 12.5px;
        background-size: 7.5px;
        top: 14vh;
        left: 0;
        padding: 20px 20px 20px 25px;
    }

    /*------------------- FOOTER ------------------*/
    footer {
        height: 10vh;
        position: static;
    }

}